.featuresContainer {
  display: flex;
  margin-top: 44px;
  gap: 24px;
}
.featuresWrapper {
  width: 430px;
}
.buttonsWrapper {
  display: inline-block;
}
.adultsWrapper {
  background-color: #f2f4f7;
  border-radius: 100px;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 12px 18px;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}
.text {
  border-bottom: 1px solid rgba(16, 24, 40, 0.2);
  padding-bottom: 23px;
  margin-bottom: 23px;
}
.detailsWrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.detailsItem {
  display: flex;
  justify-content: space-between;
}
.detailsText {
  font-weight: 600;
}
